page {
	background: #F4F5F6;
}
.notlist {
	padding: 30rpx;
	border-bottom:2rpx solid #eeeeee;
	background: #ffffff;
}
.notctime {
	font-size: 28rpx;
	    color: #8f8f94;
}
.notccont {
	color: #999999;
	font-size: 24rpx;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-top: 10rpx;
}